//output: post-list.component.html
.post-list-design__container
  .post-list__container
    app-spinner(*ngIf='loading===true')
    h1(*ngIf="posts.length===0 && loading===false") No posts yet
    mat-accordion(*ngIf='loading===false && posts.length>0')
        mat-expansion-panel(*ngFor='let post of posts, let i = index', hideToggle='')
          mat-expansion-panel-header([ngStyle]="{'background-color': colors[i]}")
            mat-panel-title
              | {{post.title}} 
            mat-icon add_circle_outline
          .expansion-panel__content
            .expansion-pannel__image
              img([src]='post.imagePath', [alt]='post.title')
            .expansion-pannel__description
              p
                | {{post.content}}
          mat-action-row
            button(*ngIf="post.creator===userId", mat-button, color="accent",(click)='editPost(post)') Edit
            button(*ngIf="post.creator===userId", mat-button, color="warn", (click)='removePost(post.id)') Delete
  .post-list__paginator
    mat-paginator(*ngIf="posts.length>0")(
      [length]='length', 
      [pageSize]='pageSize',
      [pageSizeOptions]='pageSizeOptions',
      (page)='onPageChange($event)')
  .post-design__container
    router-outlet
