
<mat-card class="login-form__card">
  <mat-card-header class="login-form__header">
    <mat-card-title class="login-form__title">{{login===true? 'Login' : 'Sign Up'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="login-form__content">
    <form [formGroup]="authForm" (ngSubmit)="authenticate()" #form="ngForm" class="login-form__form">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput="" placeholder="Enter your username" [errorStateMatcher]="matcher"/>
        <mat-icon matSuffix="">account_circle</mat-icon>
        <mat-hint *ngIf="login===true">The email you registered with.</mat-hint>
        <mat-error *ngIf="authForm.get('username').hasError('email') &amp;&amp; !authForm.get('username').hasError('required')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="authForm.get('username').hasError('required')">Email is <strong>required</strong></mat-error>
        <mat-error *ngIf="authForm.get('username').hasError('minlength') &amp;&amp; !authForm.get('username').hasError('email')">
          You need at least
          {{ this.authForm.get('username').errors.minlength.requiredLength - this.authForm.get('username').errors.minlength.actualLength }}
          more characters.
        </mat-error>
        <mat-error *ngIf="authForm.get('username').hasError('emailTaken')">This Email is taken.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput="" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher"/>
        <mat-error *ngIf="authForm.get('password').hasError('email') &amp;&amp; !authForm.get('username').hasError('required')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="authForm.get('password').hasError('required')">Password is <strong>required</strong></mat-error>
        <mat-error *ngIf="authForm.get('password').hasError('minlength')">
          You need at least
          {{ this.authForm.get('password').errors.minlength.requiredLength - this.authForm.get('password').errors.minlength.actualLength }}
          more characters.
        </mat-error>
        <button mat-icon-button="" matSuffix="" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-card-actions class="login-form__actions">
        <button type="submit" mat-flat-button="" color="primary">{{ login === true ? 'LOGIN': 'SIGN UP' }}</button>
        <p>{{ login === true ? 'Don\'t have an account? ' : 'Have an account? ' }} <span> 
            <button type="button" mat-button="" color="primary" (click)="login = !login; showLogin()">{{ login === true ? 'Sign up': 'Login' }}</button></span></p>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>