
<div class="post-create--container">
  <div class="post-create__data-control--container">
    <div class="post-create__data--container">
      <form [formGroup]="createPostForm" #myForm="ngForm" (ngSubmit)="editing===true ? editPost() : addPost()" class="post-create__data--form">
        <mat-form-field>
          <input matInput="" formControlName="title" type="text" placeholder="What are you about..." [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="createPostForm.get('title').hasError('required')">Content is <strong>required</strong></mat-error>
          <mat-error *ngIf="createPostForm.get('title').hasError('minlength')">
            You need at least
            {{ this.createPostForm.get('title').errors.minlength.requiredLength - this.createPostForm.get('title').errors.minlength.actualLength }}
            more characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput="" formControlName="content" placeholder="Details...." [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="createPostForm.get('content').hasError('required')">Content is <strong>required</strong></mat-error>
          <mat-error *ngIf="createPostForm.get('content').hasError('minlength')">
            You need at least
            {{ this.createPostForm.get('content').errors.minlength.requiredLength - this.createPostForm.get('content').errors.minlength.actualLength }}
            more characters.
          </mat-error>
        </mat-form-field>
        <button #b="" type="submit" style="display:none;"></button>
      </form>
      <div class="post-create__data--image">       
        <div *ngIf="createPostForm.get(&quot;image&quot;).valid" class="post-create__data-image--previw"><img [src]="src" [alt]="createPostForm.value.title"/></div>
        <div class="post-create__data-image--upload-button">
          <input type="file" #filePicker="" (change)="imageSelected($event)"/>
          <button mat-stroked-button="" type="button" (click)="filePicker.click(); imageButtonClicked = true;">Image...</button>
          <mat-error *ngIf="createPostForm.get('image').hasError('required') &amp;&amp; imageButtonClicked===true || (myForm.submitted===true)">Image is <strong>required</strong></mat-error>
        </div>
      </div>
    </div>
    <div class="post-create__control--container">       
      <div *ngIf="editing===true">
        <button mat-fab="" color="accent" type="submit" name="button" (click)="b.click()"> 
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div *ngIf="editing===false">
        <button mat-fab="" color="accent" type="submit" name="button" (click)="b.click()"> 
          <mat-icon>post_add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>