
<mat-sidenav-container (backdropclick)="sidenav.close()" class="side-nav__container">
  <mat-sidenav #sidenav="" (keydown.escape)="sidenav.close()">
    <div class="side-nav__controls">
      <button mat-icon-button="" (click)="sidenav.close()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button><a *ngIf="isLoggedIn===true" mat-button="" (click)="logOut(); sidenav.close()" class="headder-link">Log Out      </a>
      <div class="side-nav__img"><img src="/assets/umaru_dance.gif" alt="umaru_dance"/></div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="headder-home"><a (click)="sidenav.open()" class="hamburger"> 
          <div></div>
          <div></div>
          <div></div></a><a mat-button="" routerLink="/" routerLinkActive="mat-accent" class="main-headder__brand">P0$T </a></div>
      <div class="headder-links"><a *ngIf="isLoggedIn===true" mat-button="" (click)="logOut()" class="headder-link">Log Out</a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>