//output: error-dialog.component.html

h1(mat-dialog-title='').dialog-title {{data.error}}

div.dialog-content(mat-dialog-content='')
  img.dialog-content__image(src='/assets/umaru_sad.gif', alt="umaru")
  p.dialog-content__message  {{data.umaruQuote}}

div(mat-dialog-actions='', align='center')
  button(mat-flat-button='', color="primary", (click)='closeDialog()') Try Again
